body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14pt;
    background-color: #fefefe;
    display: grid;
    grid-template-areas:
        "cover"
        "agenda";
}

.cover {
    grid-area: "cover";
    padding: 1rem;
}

.cover__details dt {
    display: none;
}

.cover__details dd {
    margin-bottom: 1rem;
}

.agenda {
    grid-area: "agenda";
    padding: 1rem;
}

@media (min-width: 500px) {
    body {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "cover agenda";
    }

    .cover, .agenda {
        padding: 6rem 2rem 2rem;
    }
}
