.title {
    font-size: 300%;
    margin: 0;
}

.subtitle {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 130%;
    font-style: italic;
    color: rgba(0, 0, 0, .66);
    margin: 1rem 0 2rem;
}

h2, h3, h4 {
    font-size: 130%;
}
